[project]
name = "051552bf-21cb-4d6e-985a-435764d87689-terminal-bench-fifo-medium"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pytest==8.4.1",
]
